div#intro p, div#other-characters p{
  width: 60%;
  margin: 0 auto;
}

div#other-characters p{
  width: 70%;
  margin: 0 auto;
}

div#intro, div#other-characters {
  padding: 2em;
  background-color: lighten($orange, 50);
  border: 2px solid;
  border-color: lightBlue lighten($orange, 50);
}
