@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

div#characters div{ @include border-radius($default-border-radius); }
.window, .contents{ @include border-radius($default-border-radius); }
.video { @include border-radius($default-border-radius); }
div#carousel, div#carousel img{ @include border-radius($default-border-radius); }

