$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Open Sans, serif;
$font-secondary: Shadows Into Light, cursive;

$default-border-radius : 10px;
$default-box-shadow: 4px 4px 80px #000;

$media-column-count: 3;
$media-column-gap: 40px;
$media-column-rule: 2px solid lightblue;
$media-transform: translateZ(0);
